.bannedword:hover {
  color: white;
  background-color: black;
}

.strikethrough {
  line-height: 1em;
  position: relative;
}

.strikethrough::after {
  border-bottom: 0.2em solid red;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 55%;
}
